<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card class="mx-2 mt-5">
        <v-card-title>
          <span class="title">Şirkət hesabı aç</span>
        </v-card-title>
        <form class="pa-5">
          <v-text-field v-model="name" :error-messages="nameErrors" label="Şirkət adı" required @input="$v.name.$touch()"
            @blur="$v.name.$touch()"></v-text-field>
            <v-text-field v-model="location" :error-messages="locationErrors" label="Location" required @input="$v.location.$touch()"
            @blur="$v.location.$touch()"></v-text-field>
          <v-text-field v-model="email" :error-messages="emailErrors" label="E-mail" required @input="$v.email.$touch()"
            @blur="$v.email.$touch()"></v-text-field>
          <v-layout row wrap>
            <v-flex xs2>
              <v-text-field v-model="code" label="+994" disabled></v-text-field>
            </v-flex>
            <v-flex xs2 offset-xs1>
              <v-select v-model="select" :items="items" :rules="[v => !!v || 'Item is required']" required>
              </v-select>
            </v-flex>
            <v-flex xs6 offset-xs1>
              <v-text-field v-mask="mask" v-model="phone" :error-messages="phoneErrors" label="Telefon" required
                autocomplete="phone" @input="$v.phone.$touch()" @blur="$v.phone.$touch()"></v-text-field>
            </v-flex>
          </v-layout>
          <v-text-field :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1"
            autocomplete="current-password" :append-icon="show1 ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
            v-model="password" :error-messages="passwordErrors" label="Parol" required @input="$v.password.$touch()"
            @blur="$v.password.$touch()"></v-text-field>
          <v-checkbox v-model="checkbox" :error-messages="checkboxErrors" label="Şərtlərlə razıyam" required
            @change="$v.checkbox.$touch()" @blur="$v.checkbox.$touch()"></v-checkbox>
          <v-btn @click="submit" outlined :disabled="!formIsValid">Qeydiyyat</v-btn>
          <v-btn @click="clear" outlined color="indigo">Ekrani təmizlə</v-btn>
        </form>
        <p>
        </p>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, minLength, email } from 'vuelidate/lib/validators'
  import { mask } from 'vue-the-mask'

  export default {
    mixins: [validationMixin],
    directives: {
      mask
    },
    validations: {
      name: { required },
      location: { required },
      phone: { required },
      password: { required, minLength: minLength(8) },
      email: { required, email },
      checkbox: {
        checked(val) {
          return val
        }
      }
    },

    data: () => ({
      mask: '###-##-##',
      name: '',
      code: '',
      select: '050',
      surname: '',
      password: '',
      phone: '',
      email: '',
      location: '',
      show1: false,
      checkbox: false,
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      modal: false,
      menu2: false,
      items: [
        '050',
        '055',
        '070',
        '077'
      ]
    }),

    computed: {
      checkboxErrors() {
        const errors = []
        if (!this.$v.checkbox.$dirty) return errors
        !this.$v.checkbox.checked && errors.push('You must agree to continue!')
        return errors
      },
      nameErrors() {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.required && errors.push('Name is required.')
        return errors
      },
      phoneErrors() {
        const errors = []
        if (!this.$v.phone.$dirty) return errors
        !this.$v.phone.required && errors.push('Phone is required.')
        return errors
      },
      passwordErrors() {
        const errors = []
        if (!this.$v.password.$dirty) return errors
        !this.$v.password.minLength && errors.push('Password must be at least 8 characters long')
        !this.$v.password.required && errors.push('Password is required.')
        return errors
      },
      emailErrors() {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.email && errors.push('Must be valid e-mail')
        !this.$v.email.required && errors.push('E-mail is required')
        return errors
      },
      locationErrors() {
        const errors = []
        if (!this.$v.location.$dirty) return errors
        !this.$v.location.required && errors.push('Location is required.')
        return errors
      },
      formIsValid() {
        return (
          this.name &&
          (this.phone).length == 9 &&
          this.password.length >= 8 &&
          (this.emailErrors).length == 0 &&
          this.select &&
          this.location &&
          this.checkbox

        )
      }
    },

    methods: {
      submit() {
        this.$v.$touch()
        this.$router.push('/verification')
      },
      clear() {
        this.$v.$reset()
        this.name = ''
        this.phone = ''
        this.password = ''
        this.location = ''
        this.email = ''
        this.select = '050'
        this.checkbox = false
      }
    }
  }
</script>