<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card class="mx-2 mt-5">
        <v-card-title>
          <span class="title">Daxil ol</span>
        </v-card-title>
        <form class="pa-5">
          <v-layout row wrap>
            <v-flex xs2>
              <v-text-field v-model="code" label="+994" disabled></v-text-field>
            </v-flex>
            <v-flex xs2 offset-xs1>
              <v-select v-model="select" :items="items" :rules="[v => !!v || 'Item is required']" required>
              </v-select>
            </v-flex>
            <v-flex xs6 offset-xs1>
              <v-text-field v-mask="mask" v-model="phone" :error-messages="phoneErrors" label="Telefon" required
                autocomplete="phone" @input="$v.phone.$touch()" @blur="$v.phone.$touch()"></v-text-field>
            </v-flex>
          </v-layout>
          <v-text-field :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1"
            autocomplete="current-password" :append-icon="show1 ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
            v-model="password" :error-messages="passwordErrors" label="Parol" required @input="$v.password.$touch()"
            @blur="$v.password.$touch()"></v-text-field>

          <v-btn :disabled="!formIsValid" @click="submit" :loading="loading" class="right " outlined color="indigo">
            Daxil ol</v-btn>
        </form>
        <p>
          <router-link to="qeydiyyat" class="right">Qeydiyatdan keç</router-link>
        </p>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, minLength, email } from 'vuelidate/lib/validators'
  import { mask } from 'vue-the-mask'
  export default {
    name: 'signin',
    directives: {
      mask
    },
    mixins: [validationMixin],

    validations: {
      name: { required },
      surname: { required },
      phone: { required },
      password: { required, minLength: minLength(8) },
      email: { required, email },
      checkbox: {
        checked(val) {
          return val
        }
      }
    },
    data: function () {
      return {
        loading: false,
        mask: '###-##-##',
        code: '',
        show1: false,
        select: '50',
        password: '',
        phone: '',
        items: [
          '50',
          '51',
          '55',
          '70',
          '77'
        ]
      }
    },
    methods: {
      submit() {
        this.$v.$touch()
        this.loading = true
        var vm = this
        if (this.formIsValid) {
          const axios = require('axios');
          axios.post('http://192.168.88.46:8080/api/auth/signin', {
            password: this.password,
            phoneNumber: "+994" + this.select + "-" + this.phone,
          }).then(function (response) {
            //handle success
            vm.console.log(response);
            vm.loading = false
          })
            .catch(function (error) {
              //handle error
              vm.console.log("Err: " + error);
              vm.loading = false
            })
            .finally(function () {
              // always executed
            });
        }
      },
      getData() {
        this.loading = true
        const axios = require('axios');

        var vm = this

        axios({
          method: 'get', //you can set what request you want to be
          url: 'http://192.168.88.46:8080/api/auth/users/4',
          // headers: {
          //    Authorization: 'Bearer ' + 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbkBnbWFpbC5jb20iLCJyb2xlcyI6W3siaWQiOjEsIm5hbWUiOiJBRE1JTiIsImVuYWJsZWQiOnRydWV9XSwiaWF0IjoxNTY1MTcxMzUwLCJleHAiOjE1NjUxNzQ5NTB9.asjO2FkiXH1KnjJXaZ67pUXMX64CQZDuKFlytLK0AFA'
          //  }
        }).then(function (response) {
          //handle success
          vm.loading = false
          vm.console.log(response);
        })
          .catch(function (error) {
            //handle error
            vm.console.log(error);
          })
          .finally(function () {
            // always executed
          });
      }
    },
    computed: {
      phoneErrors() {
        const errors = []
        if (!this.$v.phone.$dirty) return errors
        !this.$v.phone.required && errors.push('Phone is required.')
        return errors
      },
      passwordErrors() {
        const errors = []
        if (!this.$v.password.$dirty) return errors
        !this.$v.password.minLength && errors.push('Password must be at least 8 characters long')
        !this.$v.password.required && errors.push('Password is required.')
        return errors
      },
      formIsValid() {
        return (
          (this.phone).length == 9 &&
          this.password.length >= 8
        )
      }
    }
  }
</script>