<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card class="mx-2 mt-5">
        <v-card-title>
          <span class="title">Hesab aç</span>
        </v-card-title>
        <form class="pa-5">
          <v-text-field v-model="name" :error-messages="nameErrors" label="Ad" required @input="$v.name.$touch()"
            @blur="$v.name.$touch()"></v-text-field>
          <v-text-field v-model="surname" :error-messages="surnameErrors" label="Soyad" required
            @input="$v.surname.$touch()" @blur="$v.surname.$touch()"></v-text-field>
          <v-text-field v-model="email" :error-messages="emailErrors" label="E-mail" required @input="$v.email.$touch()"
            @blur="$v.email.$touch()"></v-text-field>
          <v-layout row wrap>
            <v-flex xs2>
              <v-text-field v-model="code" label="+994" disabled></v-text-field>
            </v-flex>
            <v-flex xs2 offset-xs1>
              <v-select v-model="select" :items="items" :rules="[v => !!v || 'Item is required']" required>
              </v-select>
            </v-flex>
            <v-flex xs6 offset-xs1>
              <v-text-field v-mask="mask" v-model="phone" :error-messages="phoneErrors" label="Telefon" required
                autocomplete="phone" @input="$v.phone.$touch()" @blur="$v.phone.$touch()"></v-text-field>
            </v-flex>
          </v-layout>
          <v-text-field :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1"
            autocomplete="current-password" :append-icon="show1 ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
            v-model="password" :error-messages="passwordErrors" label="Parol" required @input="$v.password.$touch()"
            @blur="$v.password.$touch()"></v-text-field>
          <v-dialog ref="dialog" v-model="modal" :return-value.sync="date" persistent full-width width="290px">
            <template v-slot:activator="{ on }">
              <v-text-field v-model="date" label="Doğum tarixi" append-icon="mdi-calendar" readonly v-on="on"
                autocomplete="birthday">
              </v-text-field>
            </template>
            <v-date-picker v-model="date" scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="modal = false">Ləğv et</v-btn>
              <v-btn text color="primary" @click="$refs.dialog.save(date)">Təstiqlə</v-btn>
            </v-date-picker>
          </v-dialog>
          <v-checkbox v-model="checkbox" :error-messages="checkboxErrors" label="Şərtlərlə razıyam" required
            @change="$v.checkbox.$touch()" @blur="$v.checkbox.$touch()"></v-checkbox>
          <v-btn @click="submit" outlined :disabled="!formIsValid">Qeydiyyat</v-btn>
          <v-btn @click="clear" outlined color="indigo">Ekrani təmizlə</v-btn>
        </form>
        <p>
          <router-link to="daxil-ol" class="right">Log in səhifəsinə keçid</router-link>
        </p>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, minLength, email } from 'vuelidate/lib/validators'
  import { mask } from 'vue-the-mask'

  export default {
    mixins: [validationMixin],
    directives: {
      mask
    },
    validations: {
      name: { required },
      surname: { required },
      phone: { required },
      password: { required, minLength: minLength(8) },
      email: { required, email },
      checkbox: {
        checked(val) {
          return val
        }
      }
    },

    data: () => ({
      mask: '###-##-##',
      name: '',
      code: '',
      select: '050',
      surname: '',
      password: '',
      phone: '',
      email: '',
      show1: false,
      checkbox: false,
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      modal: false,
      menu2: false,
      items: [
        '050',
        '055',
        '070',
        '077'
      ]
    }),

    computed: {
      checkboxErrors() {
        const errors = []
        if (!this.$v.checkbox.$dirty) return errors
        !this.$v.checkbox.checked && errors.push('You must agree to continue!')
        return errors
      },
      nameErrors() {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.required && errors.push('Name is required.')
        return errors
      },
      phoneErrors() {
        const errors = []
        if (!this.$v.phone.$dirty) return errors
        !this.$v.phone.required && errors.push('Phone is required.')
        return errors
      },
      surnameErrors() {
        const errors = []
        if (!this.$v.surname.$dirty) return errors
        !this.$v.surname.required && errors.push('Surname is required.')
        return errors
      },
      passwordErrors() {
        const errors = []
        if (!this.$v.password.$dirty) return errors
        !this.$v.password.minLength && errors.push('Password must be at least 8 characters long')
        !this.$v.password.required && errors.push('Password is required.')
        return errors
      },
      emailErrors() {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.email && errors.push('Must be valid e-mail')
        !this.$v.email.required && errors.push('E-mail is required')
        return errors
      },
      formIsValid() {
        return (
          this.name &&
          this.surname &&
          (this.phone).length == 9 &&
          this.password.length >= 8 &&
          (this.emailErrors).length == 0 &&
          this.select &&
          this.checkbox

        )
      }
    },

    methods: {
      submit() {
        this.$v.$touch()
        this.$router.push('/verification')


        if (this.formIsValid) {
          const axios = require('axios');
          // axios.get('http://192.168.88.46:8080/api/auth/roles')
          //   .then(function (response) {
          //     // handle success
          //     console.log(response);
          //   })
          //   .catch(function (error) {
          //     // handle error
          //     console.log(error);
          //   })
          //   .finally(function () {
          //     // always executed
          //   });

          var vm = this
          axios.post('http://192.168.88.46:8080/api/auth/signup', {
            email: this.email, //varEmail is a variable which holds the email
            password: this.password,
            name: this.name,
            phoneNumber: this.phone,
            birthDate: this.date

          }).then(function (response) {
            //handle success
            vm.console.log(response);
          })
            .catch(function (error) {
              //handle error
              vm.console.log("MyError: " + error);
            })
            .finally(function () {
              // always executed
            });
        }
      },
      clear() {
        this.$v.$reset()
        this.name = ''
        this.surname = ''
        this.phone = ''
        this.password = ''
        this.email = ''
        this.select = '050'
        this.checkbox = false
      }
    }
  }
</script>