<template>
  <div>
    <vue-cal :hideBody="hideCalendarBody" locale="tr" :on-event-click="setbookingDetailsWorkerDialogBox" todayButton
      selected-date="2018-11-19" :events="allevents">
      <template v-slot:event-renderer="{ event, view }">
        <div class="vuecal__event-title" v-html="event.title" />
        <br />
        <small class="vuecal__event-time">
          <span>{{ event.start }}</span><br /><br />
          <span>{{ event.end }}</span>
        </small>
      </template>
    </vue-cal>
    <AddTimeTableDialogBox></AddTimeTableDialogBox>
    <bookingDetailsWorkerDialogBox></bookingDetailsWorkerDialogBox>
    <v-btn fixed dark fab bottom right color="pink" @click="setAddTimeTableDialogBoxDialog()">
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </div>
</template>

<script>
  import VueCal from 'vue-cal'

  import 'vue-cal/dist/i18n/tr.js'
  import 'vue-cal/dist/vuecal.css'

  import { eventBus } from "../eventbus";
  import AddTimeTableDialogBox from "../components/AddTimeTableDialogBox";
  import bookingDetailsWorkerDialogBox from "../components/BookingDetailsWorkerDialogBox";

  export default {
    components: { VueCal, AddTimeTableDialogBox, bookingDetailsWorkerDialogBox },
    data: () => ({
      searchedTime: 1,
      hideCalendarBody: true,
      events: [
        {
          start: '2018-11-22 10:00',
          end: '2018-11-24 15:00',
          title: 'Golf with John',
          //icon: 'mdi-home', // Custom attribute.
          class: 'available',
          booked: [
            {
              title: "salam ae kalxoz",
              start: "2018-11-23 14:00",
              end: "2018-11-23 15:00",
              class: 'booked',
            }
          ]
        },
        {
          start: '2018-11-20 15:00',
          end: '2018-11-20 23:00',
          title: 'Need to go shopping',
          //icon: 'mdi-home', // Custom attribute.
          class: 'available',
          booked: [
            {
              title: "salam ae kalxoz",
              start: "2018-11-20 17:00",
              end: "2018-11-20 19:00",
              class: 'booked',
            },
            {
              title: "salam ae kalxoz",
              start: "2018-11-20 20:00",
              end: "2018-11-20 21:00",
              class: 'booked',
            }
          ]
        },

        {
          start: '2018-11-25 14:00',
          end: '2018-11-25 18:00',
          title: 'Need to go shopping2',
          //icon: 'mdi-home', // Custom attribute.
          class: 'available',
          booked: []
        },
        {
          start: '2018-11-25 18:30',
          end: '2018-11-25 19:00',
          title: 'Need to go shopping2',
          //icon: 'mdi-home', // Custom attribute.
          class: 'available',
          booked: []
        },
      ]
    }),

    computed: {
      allevents() {
        var array = [];

        for (var event of this.events) {

          if (event.booked.length == 0)
            this.pushToArray(array, event.title, event.start, event.end, event.class)

          else {

            for (var book of event.booked)
              this.pushToArray(array, book.title, book.start, book.end, book.class)

            this.pushToArray(array, event.title, event.start, event.booked[0].start, event.class)

            this.pushToArray(array, event.title, event.booked[event.booked.length - 1].end, event.end, event.class)

            for (let a = 0; a < event.booked.length - 1; a++)
              this.pushToArray(array, event.title, event.booked[a].end, event.booked[a + 1].start, event.class)
          }
        }

        return array;
      }
    },


    methods: {
      // eventClicked(event, e) {
      //   console.log("clicccccckkkkk" + event.title)
      // },
      setbookingDetailsWorkerDialogBox(event) {
        eventBus.$emit("setbookingDetailsDialog", true);
        eventBus.$emit("title", event.title);
      },

      setAddTimeTableDialogBoxDialog() {
        eventBus.$emit("setAddTimeTableDialog", true);
      },

      pushToArray(arrayName, eventTitle, eventStart, eventEnd, eventClass) {

        var duration = this.differenceMinutes(eventStart, eventEnd)

        if (eventClass == "booked" || this.searchedTime <= duration)
          arrayName.push({
            title: eventTitle,
            start: eventStart,
            end: eventEnd,
            class: eventClass
          })

        this.checkBrowser()
      },

      differenceMinutes(date1, date2) {

        if (/*@cc_on!@*/false || !!document.documentMode) {
          date1 = this.internetExplorerTimeFormat(date1)
          date2 = this.internetExplorerTimeFormat(date2)
        }

        var d1 = new Date(date1);
        var d2 = new Date(date2);
        var diffTime = Math.abs(d2 - d1);
        diffTime = Math.ceil(diffTime / (1000 * 60));
        return diffTime;
      },



      checkBrowser() {
        if (/*@cc_on!@*/false || !!document.documentMode) {
          window.setInterval(() => {
            this.hideCalendarBody = false
          }, 500)
        }
        else {
          this.hideCalendarBody = false
        }
      },

      internetExplorerTimeFormat(date) {
        var day = date.slice(8, 10)
        var month = date.slice(5, 7)
        var year = date.slice(0, 4)
        var time = date.slice(11, 16)

        return month + "/" + day + "/" + year + " " + time
      }
    }
  }
</script>


<style>
  .vuecal__event.booked {
    background-color: rgba(153, 153, 153, 0.9);
    border: 1px solid rgb(0, 0, 0);
    color: #fff;
    pointer-events: none;
  }

  .vuecal__event.available {
    background-color: rgba(24, 207, 0, 0.781);
    border: 1px solid rgb(0, 0, 0);
    color: #fff;
  }


  .vuecal__menu,
  .vuecal__cell-events-count {
    background-color: #42b983;
  }

  .vuecal__menu button {
    border-bottom-color: #fff;
    color: #fff;
  }

  .vuecal__menu button.active {
    background-color: rgba(255, 255, 255, 0.15);
  }

  .vuecal__title-bar {
    background-color: #e4f5ef;
  }

  .vuecal__cell.today,
  .vuecal__cell.current {
    background-color: rgba(240, 240, 255, 0.4);
  }

  .vuecal:not(.vuecal--day-view) .vuecal__cell.selected {
    background-color: rgba(235, 255, 245, 0.4);
  }

  .vuecal__cell.selected:before {
    border-color: rgba(66, 185, 131, 0.5);
  }
</style>