<template>
    <v-layout row justify-center>
        <v-dialog v-model="setAddTimeTableDialog" persistent>
            <v-card>
                <v-card-text>Let Google</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="setAddTimeTableDialog = false">Qəbul et</v-btn>
                  </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    import {eventBus} from '../eventbus'
    export default {
        data() {
            return {
                setAddTimeTableDialog: false,
                title: 'false'
            }
        },
        created() {
            //listening for the custom event
            eventBus.$on('setAddTimeTableDialog', (msg) => {
                this.setAddTimeTableDialog = msg
            })

            eventBus.$on('title', (msg) => {
                this.title = msg
            })
        }
    }
</script>