<template>
    <v-layout row justify-center>
        <v-dialog v-model="setbookingDetailsDialog" persistent>
            <v-card>
                <v-card-title class="headline">{{title}}</v-card-title>
                <v-card-text>Let Google help apps determine location. This means sending anonymous location data to
                    Google, even when no apps are running.</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="setbookingDetailsDialog = false">Qəbul et</v-btn>
                    <v-btn color="red darken-1" text @click="setbookingDetailsDialog = false">Rədd et</v-btn>
                    <v-btn color="gray darken-1" text @click="setbookingDetailsDialog = false">Redaktə et</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    import {eventBus} from '../eventbus'
    export default {
        data() {
            return {
                setbookingDetailsDialog: false,
                title: 'false'
            }
        },
        created() {
            //listening for the custom event
            eventBus.$on('setbookingDetailsDialog', (msg) => {
                this.setbookingDetailsDialog = msg
            })

            eventBus.$on('title', (msg) => {
                this.title = msg
            })
        }
    }
</script>