<template>
    <nav>
        <v-toolbar dark dense src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg">
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

            <v-toolbar-title>Vuetify</v-toolbar-title>

            <v-spacer></v-spacer>
        </v-toolbar>

        <v-navigation-drawer v-model="drawer" absolute temporary>
            <v-list-item>
                <v-list-item-avatar>
                    <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title>John Leider</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>
            <v-list nav dense>
                <v-list-item-group v-model="item" color="primary">
                    <v-list-item v-for="(item, i) in items" :key="i" :to="item.link">
                        <v-list-item-icon>
                            <v-icon v-text="item.icon"></v-icon>
                        </v-list-item-icon>

                        <v-list-item-content >
                            <v-list-item-title v-text="item.title"></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>

        </v-navigation-drawer>

    </nav>
</template>

<script>
    export default {
        data: () => ({
            drawer: false,
            item: 0,
            items: [
                { title: 'Home', icon: 'mdi-home', link: '/' },
                { title: 'Daxil Ol', icon: 'mdi-export', link: '/daxil-ol' },
                { title: 'Qeydiyyat', icon: 'mdi-export', link: '/qeydiyyat' },
                { title: 'Calendar', icon: 'mdi-export', link: '/calendar' },
                { title: 'Customer Calendar', icon: 'mdi-export', link: '/customer-calendar' },
                { title: 'Şirkət yarat', icon: 'mdi-export', link: '/serviceascompany' },
                { title: 'Worker Calendar', icon: 'mdi-export', link: '/workercalendar' },
            ]
        })
    }
</script>