<template>
  <v-app>
    <v-content>
      <toolbarandnav></toolbarandnav>
      <v-container>
        <router-view />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import toolbarandnav from './components/ToolbarAndNav'

  export default {
    data() {
      return {
      }
    },
    components: {
      toolbarandnav
    },
    methods: {
    }
  }
</script>